{% extends "biblioteca/inicio.html" %}
{% load static %}

{% block contenido_principal %}
<div class="container my-5">
  <h2 class="section-title text-center mb-4">
    Biblioteca de modelos 3D
  </h2>

  <div class="text-end mb-3">
    <a href="{% url 'agregar_modelo' %}" class="btn btn-primary">
      + Agregar nuevo modelo
    </a>
  </div>

  {% if modelos %}
    <div class="row g-4">
      {% for modelo in modelos %}
      <div class="d-flex justify-content-between mt-3">
  <a href="{{ modelo.url_archivo }}" target="_blank" class="btn btn-outline-primary btn-sm">
    Ver archivo 3D
  </a>
  <div>
    <a href="{% url 'editar_modelo' modelo.pk %}" class="btn btn-outline-secondary btn-sm">
      Editar
    </a>
    <a href="{% url 'eliminar_modelo' modelo.pk %}" class="btn btn-outline-danger btn-sm">
      Eliminar
    </a>
  </div>
</div>

        <div class="col-md-4">
          <div class="card h-100 shadow-sm">
            <div class="card-body">
              <h5 class="card-title">{{ modelo.nombre }}</h5>
              <p class="card-text text-muted">
                {{ modelo.descripcion|truncatewords:20 }}
              </p>
              <p class="mb-1">
                <strong>Categoría:</strong> {{ modelo.categoria.nombre }}
              </p>
              <p class="mb-2">
                <strong>Nivel:</strong> {{ modelo.nivel }}
              </p>
              <a href="{{ modelo.url_archivo }}" target="_blank" class="btn btn-outline-primary btn-sm">
                Ver archivo 3D
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No hay modelos registrados todavía.</p>
  {% endif %}
</div>

{% endblock %}
